<section class="team-intro-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 no-padding">
        <div class="team-intro">
          <h1>
              <span style="white-space:pre-wrap;">{{sectionTitle.title}}</span>
          </h1>
          <p>
            {{sectionTitle.subtitle}}
          </p>
          <a href="#" class="btn btn-primary btn-lg">{{sectionTitle.btn}}</a>
        </div>
      </div>
      <div class="col-md-6 no-padding team-intro-thumb">
        <img src="{{sectionTitle.img}}" alt="team">
      </div>
    </div>
  </div>
</section>